.previewWrap {
  width: 400px;
  margin-top: 50px;
  margin-left: 50px;
  float: left;
}
.previewWrap .preview {
  width: 400px;
  height: 400px;
  border: 1px solid #dfdfdf;
  position: relative;
}
.previewWrap .preview .jqzoom {
  width: 400px;
  height: 400px;
  position: relative;
}
.previewWrap .preview .jqzoom img {
  width: 100%;
}
.previewWrap .preview .jqzoom .mask {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px #ddd;
}
.previewWrap .preview .maxbox {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 420px;
  top: 0;
  border: 1px solid #ddd;
  overflow: hidden;
}
.previewWrap .preview .maxbox img {
  width: 800px;
  height: 800px;
}
.previewWrap .specScroll {
  margin-top: 5px;
  *zoom: 1;
}
.previewWrap .specScroll:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.previewWrap .specScroll .prev,
.previewWrap .specScroll .next {
  text-align: center;
  width: 10px;
  height: 54px;
  line-height: 54px;
  border: 1px solid #cccccc;
  background-color: #ebebeb;
}
.previewWrap .specScroll .prev {
  float: left;
  margin-right: 4px;
}
.previewWrap .specScroll .next {
  float: right;
}
.previewWrap .specScroll .items {
  width: 372px;
  height: 56px;
  float: left;
  position: relative;
  overflow: hidden;
}
.previewWrap .specScroll .items .itemsCon {
  position: absolute;
  width: 9999px;
  height: 56px;
  left: 0;
}
.previewWrap .specScroll .items .itemsCon img {
  float: left;
  text-align: center;
  border: 1px solid #cccccc;
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-right: 20px;
}
.infoWrap {
  width: 700px;
  float: left;
  margin-left: 100px;
  margin-top: 50px;
}
.infoWrap .info1 .infoName {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
}
.infoWrap .info1 .news {
  color: #e12228;
  margin-top: 15px;
}
.infoWrap .info1 .priceArea {
  background-color: #fee9ec;
  margin-top: 10px;
  line-height: 28px;
  padding: 7px;
}
.infoWrap .info1 .priceArea .priceArea1 {
  *zoom: 1;
}
.infoWrap .info1 .priceArea .priceArea1:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.infoWrap .info1 .priceArea .priceArea1 .title {
  float: left;
  margin-right: 15px;
}
.infoWrap .info1 .priceArea .priceArea1 .price {
  float: left;
  color: #cc1122;
}
.infoWrap .info1 .priceArea .priceArea1 .price i {
  font-size: 16px;
}
.infoWrap .info1 .priceArea .priceArea1 .price em {
  font-size: 24px;
  font-weight: bold;
}
.infoWrap .info1 .priceArea .priceArea1 .price span {
  font-size: 12px;
}
.infoWrap .info1 .priceArea .priceArea1 .remark {
  float: right;
}
.infoWrap .info1 .priceArea .priceArea2 {
  *zoom: 1;
  line-height: 28px;
  margin-top: 10px;
}
.infoWrap .info1 .priceArea .priceArea2:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.infoWrap .info1 .priceArea .priceArea2 .title {
  margin-right: 15px;
  float: left;
}
.infoWrap .info1 .priceArea .priceArea2 .fixWidth {
  width: 520px;
  float: left;
}
.infoWrap .info1 .priceArea .priceArea2 .fixWidth .red-bg {
  background-color: #c81623;
  padding: 3px;
  color: #fff;
}
.infoWrap .info1 .priceArea .priceArea2 .fixWidth .t-gray {
  color: #999;
}
.infoWrap .info1 .support {
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
}
.infoWrap .info1 .support .supportArea {
  margin-top: 10px;
  line-height: 28px;
  *zoom: 1;
}
.infoWrap .info1 .support .supportArea:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.infoWrap .info1 .support .supportArea .title {
  margin-right: 15px;
  float: left;
}
.infoWrap .info1 .support .supportArea .fixWidth {
  width: 520px;
  color: #999;
  float: left;
}
.infoWrap .choose .chooseArea {
  margin-top: 10px;
  line-height: 28px;
}
.infoWrap .choose .chooseArea .choosed mark {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  background-color: snow;
  border: 1px solid #ddd;
  padding: 0 20px;
  margin-right: 20px;
}
.infoWrap .choose .chooseArea .choosed mark a {
  font-size: 12px;
  color: red;
  margin-left: 20px;
  cursor: pointer;
}
.infoWrap .choose .chooseArea dl {
  margin: 13px 0;
  *zoom: 1;
}
.infoWrap .choose .chooseArea dl:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.infoWrap .choose .chooseArea dl dt {
  float: left;
  margin-right: 15px;
}
.infoWrap .choose .chooseArea dl dd {
  float: left;
  margin-right: 5px;
  color: #666;
  line-height: 24px;
  padding: 2px 14px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
.infoWrap .choose .cartWrap {
  *zoom: 1;
}
.infoWrap .choose .cartWrap:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.infoWrap .choose .cartWrap .controls {
  width: 56px;
  margin-right: 15px;
  float: left;
  position: relative;
}
.infoWrap .choose .cartWrap .controls .itxt {
  width: 38px;
  height: 37px;
  border: 1px solid #ddd;
  color: #555;
  text-align: center;
}
.infoWrap .choose .cartWrap .controls .plus,
.infoWrap .choose .cartWrap .controls .mins {
  position: absolute;
  width: 15px;
  height: 18px;
  background-color: #f1f1f1;
  color: #666;
  line-height: 17px;
  text-align: center;
  right: 0px;
  border: 1px solid #ccc;
}
.infoWrap .choose .cartWrap .controls .plus {
  top: 0;
}
.infoWrap .choose .cartWrap .controls .mins {
  top: 20px;
  border-top: none;
}
.infoWrap .choose .cartWrap .add {
  float: left;
}
.infoWrap .choose .cartWrap .add a {
  display: block;
  padding: 0 25px;
  height: 36px;
  font-size: 16px;
  background: #e1251b;
  color: #fff;
  text-align: center;
  line-height: 36px;
}
.conpoin {
  padding: 9px 15px 9px 0;
}
.conpoin > a + a:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc;
}
.prodct {
  *zoom: 1;
}
.prodct:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.prodct .aside {
  width: 212px;
  float: left;
  border: 1px solid #cccccc;
}
.prodct .aside .tabwrapd {
  height: 40px;
  float: left;
}
.prodct .aside .tabwrapd h4 {
  text-align: center;
  line-height: 40px;
  float: left;
  width: 105px;
  border-bottom: 1px solid #cccccc;
}
.prodct .aside .tabwrapd h4.acrive {
  border-top: solid 2px red;
  border-bottom: #ffffff;
}
.prodct .aside .tabcon {
  padding: 10px;
  float: left;
}
.prodct .aside .tabcon .tabpane {
  display: none;
}
.prodct .aside .tabcon .tabpane.acrive {
  display: block;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .parlist {
  float: left;
  *zoom: 1;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .parlist:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .parlist li {
  width: 50%;
  float: left;
  line-height: 28px;
  border-bottom: #cccccc 1px dashed;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .goodlist li {
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  margin: 5px 0 15px ;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .goodlist .p-img {
  text-align: center;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .goodlist .p-img img {
  width: 152px;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .goodlist .arr {
  font-size: 12px;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .goodlist .price {
  font-size: 16px;
  color: red;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .goodlist .shopcar {
  text-align: center;
}
.prodct .aside .tabcon .tabpane:nth-child(1) .goodlist .shopcar a {
  line-height: 18px;
  padding: 2px 14px;
  border: solid 1px #cccccc;
}
.prodct .detail {
  width: 980px;
  float: left;
  border: 1px solid #cccccc;
}
.prodct .detail .topb {
  width: 980px;
  background-color: #f1f1f1;
}
.prodct .detail .topb p {
  padding: 5px 0 5px 15px ;
}
.prodct .detail ul {
  width: 850px;
  height: 170px;
  padding-top: 10px;
}
.prodct .detail ul li {
  width: 127px;
  height: 165px;
  text-align: center;
  position: relative;
  float: left;
  padding: 0 20px;
}
.prodct .detail ul li img:nth-child(1) {
  width: 87px;
}
.prodct .detail ul li img {
  width: 120px;
  height: 130px;
}
.prodct .detail ul li .one {
  font-size: 16px;
  color: red;
}
.prodct .detail ul li i {
  position: absolute;
  top: 48px;
  right: 0px;
  font-size: 16px;
}
.prodct .detail ul li p {
  padding: 0 20px;
  font-size: 12px;
}
.prodct .detail .boxcar {
  width: 153px;
  height: 165px;
  float: left;
  padding-left: 10px;
  margin-left: 10px;
}
.prodct .detail .boxcar h4 {
  margin: 10px 0;
}
.prodct .detail .boxcar p {
  margin-bottom: 10px;
}
.prodct .detail .boxcar em {
  font-size: 14px;
  color: red;
}
.prodct .detail .boxcar button {
  padding: 10px 25px;
  background-color: #e1251b;
  color: #fff;
  border: none;
  font-size: 16px;
}
