.outer .toolbar {
  position: fixed;
  z-index: 99;
  width: 300px;
  height: 100%;
  background-color: #7a6e6e;
  transition: all 0.3s linear;
}
.outer .toolbar.toolbar-out {
  top: 0;
  right: 0;
}
.outer .toolbar.toolbar-wrap {
  top: 0;
  right: -294px;
}
.outer .toolbar .content {
  width: 294px;
  height: 100%;
  background-color: bisque;
  position: relative;
  left: 6px;
  z-index: 4;
}
.outer .toolbar .but {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px 0 0 3px;
  position: absolute;
  top: 0;
  left: -29px;
  cursor: pointer;
  text-align: center;
}
.outer .toolbar .but.list {
  background: #7a6e6e url(images/list.png) center center no-repeat;
  background-size: cover;
}
.outer .toolbar .but.pull-wrap {
  background: #7a6e6e url(images/cross.png) center center no-repeat;
  background-size: cover;
}
.outer .toolbar .toolList {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -29px;
  width: 35px;
  z-index: 3;
}
.outer .toolbar .toolList .pull {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.outer .toolbar .toolList .pull .tab-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 2;
  background-color: #7a6e6e;
}
.outer .toolbar .toolList .pull em {
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 35px;
  top: 0;
  background-color: #776e6e;
  z-index: 1;
  transition: all 0.3s linear;
}
.outer .toolbar .toolList .pull .vip {
  background: #7a6e6e url(images/toolbars.png) -87px -174px no-repeat;
}
.outer .toolbar .toolList .pull .cart {
  background: #7a6e6e url(images/toolbars.png) -50px 0 no-repeat;
}
.outer .toolbar .toolList .pull .follow {
  background: #7a6e6e url(images/toolbars.png) -50px -100px no-repeat;
}
.outer .toolbar .toolList .pull .history {
  background: #7a6e6e url(images/toolbars.png) -190px -150px no-repeat;
}
.outer .toolbar .toolList .pull .message {
  background: #7a6e6e url(images/toolbars.png) -50px -150px no-repeat;
}
.outer .toolbar .toolList .pull .qus {
  background: #7a6e6e url(images/toolbars.png) -50px -250px no-repeat;
}
.outer .toolbar .back {
  position: absolute;
  bottom: 0;
  left: -29px;
}
.outer .toolbar > .pull {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  text-align: center;
}
.outer .toolbar > .pull .tab-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  z-index: 2;
  background-color: #7a6e6e;
}
.outer .toolbar > .pull em {
  width: 62px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 35px;
  top: 0;
  background-color: #776e6e;
  z-index: 1;
}
.outer .toolbar > .pull .top {
  background: #7a6e6e url(images/toolbars.png) -50px -250px no-repeat;
}
.outer .header > .top {
  width: 100%;
  background-color: #eaeaea;
  height: 30px;
  line-height: 30px;
}
.outer .header > .top .container {
  *zoom: 1;
  width: 1200px;
  margin: 0 auto;
}
.outer .header > .top .container:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.outer .header > .top .container .loginList {
  float: left;
}
.outer .header > .top .container .loginList p {
  float: left;
  margin-right: 10px;
}
.outer .header > .top .container .loginList p .register {
  border-left: 1px solid #b3aeae;
  padding: 0 5px;
  margin-left: 5px;
}
.outer .header > .top .container .typeList {
  float: right;
  font-size: 0;
}
.outer .header > .top .container .typeList a {
  font-size: 12px;
  padding: 0 10px;
}
.outer .header > .top .container .typeList a ~ a {
  border-left: 1px solid #b3aeae;
}
.outer .header > .bottom {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.outer .header > .bottom:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.outer .header > .bottom .logoArea {
  float: left;
}
.outer .header > .bottom .logoArea img {
  width: 176px;
  height: 56px;
  margin: 25px 45px;
}
.outer .header > .bottom .searchArea {
  float: right;
  margin-top: 35px;
}
.outer .header > .bottom .searchArea .searchForm {
  *zoom: 1;
}
.outer .header > .bottom .searchArea .searchForm:after {
  content: "\200B";
  height: 0;
  display: block;
  clear: both;
}
.outer .header > .bottom .searchArea .searchForm input {
  box-sizing: border-box;
  width: 490px;
  height: 32px;
  padding: 0px 4px;
  border: 2px solid #ea4a36;
  float: left;
}
.outer .header > .bottom .searchArea .searchForm input:focus {
  outline: none;
}
.outer .header > .bottom .searchArea .searchForm button {
  width: 68px;
  height: 32px;
  background-color: #ea4a36;
  color: #fff;
  float: left;
  border: none;
  cursor: pointer;
}
.outer .header > .bottom .searchArea .searchForm button:focus {
  outline: none;
}
.outer .typeNav {
  border-bottom: 2px solid #e1251b;
}
.outer .typeNav .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.outer .typeNav .container .all {
  width: 210px;
  height: 50px;
  background-color: #e1251b;
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.outer .typeNav .container .nav a {
  margin: 0 22px;
  line-height: 45px;
  font-size: 16px;
  color: #333;
}
.outer .footer {
  background-color: #eaeaea;
}
.outer .footer .footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.outer .footer .footer-container .footerList {
  padding: 20px;
  border-bottom: 1px solid #e4e1e1;
  border-top: 1px solid #e4e1e1;
  overflow: hidden;
  padding-left: 40px;
}
.outer .footer .footer-container .footerList .footerItem {
  width: 16.6666667%;
  float: left;
}
.outer .footer .footer-container .footerList .footerItem h4 {
  font-size: 14px;
}
.outer .footer .footer-container .footerList .footerItem .footerItemCon li {
  line-height: 18px;
}
.outer .footer .footer-container .footerList .footerItem:last-child img {
  width: 121px;
}
.outer .footer .footer-container .copyright {
  padding: 20px;
}
.outer .footer .footer-container .copyright .helpLink {
  text-align: center;
}
.outer .footer .footer-container .copyright .helpLink li {
  display: inline;
}
.outer .footer .footer-container .copyright .helpLink li .space {
  border-left: 1px solid #666;
  width: 1px;
  height: 13px;
  background: #666;
  margin: 8px 10px;
}
.outer .footer .footer-container .copyright p {
  margin: 10px 0;
  text-align: center;
}
